Repository pers0n4/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, eslint --fix, sort-package-json

style: change import style
  src/components/ColorModeToggleIconButton/ColorModeToggleIconButton.tsx
Due: prettier --write, eslint --fix

feat: add `AppBarIcons`
  src/components/Layout/AppBarIcons.tsx
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint --fix

build: update `tsconfig.json` paths alias
  tsconfig.json
Due: prettier --write

style: update `tsconfig.json` comment styles
  tsconfig.json
Due: prettier --write

perf: clean project
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Seo.tsx
  src/gatsby-theme-material-ui-top-layout/styles/global.ts
  src/gatsby-theme-material-ui-top-layout/styles/index.ts
  src/gatsby-theme-material-ui-top-layout/styles/prism.ts
  src/graphql/article.ts
  src/graphql/group.ts
  src/graphql/index.ts
  src/graphql/site.ts
  src/html.jsx
  src/pages/categories.tsx
  src/pages/tags.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
Due: prettier --write, eslint --fix

fix: remove `Paper` in `Container` from `Layout` component
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint --fix

fix: rename `githubUsername` meta data to `github`
  src/components/Layout/AppBarIcons.tsx
Due: prettier --write, eslint --fix

feat: wrap icon buttons by `Tooltip`
  src/components/ColorModeToggleIconButton/ColorModeToggleIconButton.tsx
  src/components/Layout/AppBarIcons.tsx
Due: prettier --write, eslint --fix

build: add `gatsby-plugin-image` dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: remove unnecessary dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

docs: add sample article
  blog/hello-world/icon.png
  blog/hello-world/index.md
Due: prettier --write

refactor: refactor index page
  src/pages/index.tsx
Due: prettier --write, eslint --fix

refactor: refactor 404 page
  src/pages/404.tsx
Due: prettier --write, eslint --fix

refactor: refactor article template
  src/templates/article.tsx
Due: prettier --write, eslint --fix

build(gatsby): refactor gatsby create pages logic
  gatsby-node.js
Due: prettier --write, eslint --fix

build(gatsby): update `gatsby-config.js` for development
  gatsby-config.js
Due: prettier --write, eslint --fix

build: add `pretendard` dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

feat: change font family to `Pretendard`
  src/gatsby-theme-material-ui-top-layout/theme.ts
Due: prettier --write, eslint --fix

fix: add `aria-label` attributes to drawer close button
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint --fix

refactor: use `ListItemButton` instead of `ListItem`
  src/components/Layout/MenuItems.tsx
Due: prettier --write, eslint --fix

fix: add `disablePadding` props to AppBar menu list
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint --fix

style: add new lines
  src/components/Layout/Layout.tsx
Due: prettier --write, eslint --fix

fix: add `lang` attributes to `html`
  src/gatsby-theme-material-ui-top-layout/components/viewport.tsx
Due: prettier --write, eslint --fix

feat: add categories page
  src/pages/categories/index.tsx
Due: prettier --write, eslint --fix

feat: add labels page
  src/pages/labels/index.tsx
Due: prettier --write, eslint --fix

feat: add category template
  src/templates/category.tsx
Due: prettier --write, eslint --fix

feat: add label template
  src/templates/label.tsx
Due: prettier --write, eslint --fix

docs: change `tags` frontmatter to `labels`
  blog/hello-world/index.md
Due: prettier --write

build(gatsby): create category and label pages
  gatsby-node.js
Due: prettier --write, eslint --fix

refactor: change drawer menu wrapper's html component to nav
  src/components/Layout/Layout.tsx
  src/components/Layout/MenuItems.tsx
Due: prettier --write, eslint --fix

build: remove deprecated dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: update all non major dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: migrate package manager to yarn berry
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/releases/yarn-3.2.1.cjs
  .yarnrc.yml
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: update code quality tools config
  .commitlintrc.json
  .editorconfig
  .eslintignore
  .eslintrc.json
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .prettierrc.yaml
  .stylelintrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Path conditions:
  prettier --write: ((any of: *.{html,md,mdx,json}) or (any of: *.css)) or (any of: *.{js,jsx,ts,tsx})
  stylelint --fix: any of: *.css
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  sort-package-json: any of: package.json
