Repository pers0n4/blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, sort-package-json

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.css": ["stylelint --fix", "prettier --write"],
  "*.{json,html,md,mdx}": "prettier --write",
  "package.json": "sort-package-json"
}

style: format with prettier
  package.json
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MDXComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Layout.tsx
  src/components/SEO.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/styles/global.ts
  src/gatsby-theme-material-ui-top-layout/styles/index.ts
  src/gatsby-theme-material-ui-top-layout/styles/prism.ts
  src/gatsby-theme-material-ui-top-layout/theme.tsx
  src/graphql/article.ts
  src/graphql/group.ts
  src/graphql/index.ts
  src/graphql/site.ts
  src/html.jsx
  src/pages/404.tsx
  src/pages/categories.tsx
  src/pages/index.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
Due: eslint --fix, prettier --write, sort-package-json

build: add .gitattributes
  .gitattributes
Due: none

refactor: update eslint rules
  .eslintignore
  .eslintrc.json
  package.json
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/theme.tsx
  src/graphql/article.ts
  src/graphql/index.ts
  src/html.jsx
  src/pages/404.tsx
  src/pages/categories.tsx
  src/pages/index.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

build: update eslint rules
  .eslintrc.json
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/theme.tsx
  src/pages/404.tsx
  src/pages/categories.tsx
  src/pages/index.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
Due: eslint --fix, prettier --write

build: update eslint rule
  .eslintrc.json
  package.json
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/gatsby-theme-material-ui-top-layout/theme.tsx
  src/pages/404.tsx
  src/pages/categories.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
  yarn.lock
Due: eslint --fix, prettier --write, sort-package-json

refactor: change opengraph image name
  src/components/Seo.tsx
  static/og.png
Due: eslint --fix, prettier --write

style(prettier): update prettier rules
  .prettierrc.json
  package.json
Due: prettier --write, sort-package-json

build: update dependencies not inclued breaking changes
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

style: format with prettier
  gatsby-config.js
  src/components/Article/ArticleComments.tsx
  src/components/Article/ArticleFooter.tsx
  src/components/Article/ArticleHeader.tsx
  src/components/Article/ArticleTableOfContents.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/components/ArticleCard.tsx
  src/components/Layout.tsx
  src/components/Seo.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/styles/global.ts
  src/gatsby-theme-material-ui-top-layout/styles/index.ts
  src/gatsby-theme-material-ui-top-layout/styles/prism.ts
  src/gatsby-theme-material-ui-top-layout/theme.tsx
  src/graphql/article.ts
  src/graphql/group.ts
  src/graphql/index.ts
  src/graphql/site.ts
  src/html.jsx
  src/pages/404.tsx
  src/pages/categories.tsx
  src/pages/index.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

style(eslint): update eslint rules
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix: fix eslint errors
  src/components/Article/ArticleComments.tsx
  src/components/Article/MdxComponents.tsx
  src/components/Article/index.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/styles/global.ts
  src/gatsby-theme-material-ui-top-layout/styles/index.ts
  src/gatsby-theme-material-ui-top-layout/styles/prism.ts
  src/pages/categories.tsx
  src/pages/index.tsx
  src/pages/tags.tsx
  src/templates/article.tsx
  src/templates/category.tsx
  src/templates/tag.tsx
Due: eslint --fix, prettier --write

build: update gatsby packages
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: update dev dependencies
  .editorconfig
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

build: add standard-version
  .versionrc.json
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

refactor: move typecheck script to package.json
  .lintstagedrc.json
  package.json
Due: prettier --write, sort-package-json

docs(content): "GitHub 기본 인증 중단 예정 알림" 추가
  content/blog/github-deprecated-basic-authentication/index.md
Due: prettier --write

fix: hotfix gatsby-plugin-sitemap config
  gatsby-config.js
Due: none

build: change dependency manager `yarn` to `npm`
  package-lock.json
  yarn.lock
Due: prettier --write

build: update all non major dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: update all major dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: update `eslint` dependencies
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: change `.prettierrc.json` to `.prettierrc.yaml`
  .prettierrc.json
  .prettierrc.yaml
Due: prettier --write

build: update npm scripts
  package.json
Due: prettier --write, sort-package-json

build: use npm in husky scripts
  .husky/commit-msg
  .husky/pre-commit
Due: none

build: update dependency `material-ui` to v5
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

perf: remove versioning files
  .versionrc.json
  CHANGELOG.md
Due: prettier --write

build: add dependency `@mui/icons-material`
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: refactor top layout
  src/gatsby-theme-material-ui-top-layout/components/context.tsx
  src/gatsby-theme-material-ui-top-layout/components/top-layout.tsx
  src/gatsby-theme-material-ui-top-layout/components/viewport.tsx
  src/gatsby-theme-material-ui-top-layout/theme.ts
  src/gatsby-theme-material-ui-top-layout/theme.tsx
Due: eslint --fix, prettier --write

feat: add `ColorModeToggleIconButton` component
  src/components/ColorModeToggleIconButton/ColorModeToggleDemo.tsx
  src/components/ColorModeToggleIconButton/ColorModeToggleIconButton.tsx
  src/components/ColorModeToggleIconButton/index.ts
Due: eslint --fix, prettier --write

refactor: refactor `Layout` component
  src/components/Layout.tsx
  src/components/Layout/Layout.tsx
  src/components/Layout/MenuItems.tsx
  src/components/Layout/index.ts
Due: eslint --fix, prettier --write

build: remove dependencies
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

refactor: add default export to theme
  src/gatsby-theme-material-ui-top-layout/theme.ts
Due: eslint --fix, prettier --write

build: update `tsconfig.json`
  tsconfig.json
Due: prettier --write

build: update tools config
  .czrc
  .editorconfig
  .eslintrc.json
Due: prettier --write

perf: remove netlify deploy files
  _headers
  netlify.toml
Due: none

build: add `gatsby-plugin-remove-trailing-slashes` dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

build: update lint-staged scripts
  .lintstagedrc.json
Due: prettier --write

build: add `gatsby-plugin-root-import` dependency
  package-lock.json
  package.json
Due: prettier --write, sort-package-json
